<!DOCTYPE html>
<html>
<head>
  <title>Depp</title>
  <%= stylesheet_link_tag    "depp/application", media: "all" %>
  <%= javascript_include_tag "depp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
